/* Medium devices (tablets, 768px and up)*/
		@media (min-width: 768px) { 
		.form-group{
		margin:10px auto;
		
		}
		}
.form-group {
	position: relative;
	margin-bottom: 1rem;
	}
	
	/*.form-group input,*/
	.form-group label {
	padding: .75rem;
	margin-bottom:;
	}
	.form-group label {
	}
	
	.form-group label {
	position: absolute;
	top: 0;
	left:0;
	display: block;
	pointer-events: none;
	cursor: text; /* Match the input under the label */
	border: 1px solid transparent;
	border-radius: 0; /*.25rem;*/
	transition: all .1s ease-in-out;
	color:#777;
	}
	
	.form-group input::-webkit-input-placeholder {
	color: transparent;
	}
	
	.form-group input::-moz-placeholder {
	color: transparent;
	}
	
	.form-group input::-ms-input-placeholder {
	color: transparent;
	}
	
	.form-group input::placeholder {
	color: transparent;
	}
	
	.form-group input:not(:placeholder-shown) ~ label,
	.form-group input:focus:placeholder-shown ~ label {
	transform:translateY(-7.5px);
	height:10px;
	line-height:10px;
	padding: 0.15rem !important;
	left:.75rem;
	font-size: 12px;
	background:#fff !important;
	}
	.form-group .form-control:focus ~ label {
	color: var(--bs-primary); /*#777;*/
	}
	.was-validated .form-control:valid:not(:placeholder-shown) ~ label,
	.was-validated .form-control:valid:focus:placeholder-shown ~ label  {
	color: var(--bs-success);
	}
	.was-validated .form-control:invalid:not(:placeholder-shown) ~ label,
	.was-validated .form-control:invalid:focus:placeholder-shown ~ label  {
	color: var(--bs-danger);
	}
	
	
	
	
	/* for select*/
	.form-group select:valid ~ label,
	form-group select:focus ~ label {
	transform:translateY(-7px);
	height:10px;
	line-height:14px;
	padding:0 0.1rem !important;
	left:.75rem;
	font-size: 12px;
	background:#fff !important;
	}
	.was-validated .form-select:valid ~ label {
	color: var(--bs-success); /*#777;*/
	}
	
	.form-group select:focus ~ label {
	color: var(--bs-primary); /*#777;*/
	}
	/* Fallback for Edge
	-------------------------------------------------- */
	@supports (-ms-ime-align: auto) {
	.form-group {
	display: flex;
	flex-direction: column-reverse;
	}
	
	.form-group label {
	position: static;
	}
	
	.form-group input::-ms-input-placeholder {
	color: #777;
	}
	}
	